body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: linear-gradient(to bottom, rgb(254, 214, 137), rgb(252, 231, 231));
}

#section1{
    height:100vh;
    background-image: linear-gradient(to bottom, rgb(254, 214, 137), rgb(252, 231, 231));
}

#section2{
    height:100vh;
    background-image: linear-gradient(to bottom,  rgb(252, 231, 231), rgb(254, 214, 137));
}

#section3{
    background-image: linear-gradient(to bottom,rgb(254, 214, 137), rgb(252, 231, 231));
}

h1{
    text-align: center;
    font-size: 3rem;
}

.bio{
    background-color: #FAF0E4;
    border: 3px dashed black;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    font-size: 1.6rem;
    line-height: 1.5;
}

hr{
    width: 10%;
    border: 2px solid black;
    margin-top: 2%;
    margin-bottom: 3%;
}

.additional{
    font-weight: 700;
    margin: 1% auto 4% auto;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 4%;
}

.icon{
    display: block;
    margin: 0 auto;
    text-align: center;
}

p.icon{
    font-size: 2.5rem;
}

.nationalTeam-photo{
    border: 2px solid black;
    width: 30%;
}

.container{
    display: flex;
    justify-content:center;
    width: fit-content;
}

.slamDunk-photo{
    border: 2px solid black;
    width: 30%;
}

.highlights{
    margin-top: 4%;
    margin-bottom: 2%;
}

.watch-highlights{
    color: white;
    background-color: rgb(24, 24, 24);
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 1% 2%;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 0 auto;
    text-align: center;
}

.watch-highlights:hover{
    color:black;
    background-color: #38383857;
}

@media screen and (max-width:600px) { 

    #section1 , #section2{
        height:auto;
    }

     #section2{
        padding-top: 10%;
    }
       
    h1{
        font-size: 1.6rem;
        width: 60%;
        margin:30% auto 5% auto;
    }
    
    .bio{
        border: 2px dashed black;
        padding: 2%;
        width: 80%;
        height: auto;
        font-size: 1rem;
    }

    hr{
        display: none;
    }
    
    p.additional{
        margin-bottom: 4%;
        width: 60%;
        font-size: 1.4rem;
    }
    
    .nationalTeam-photo, .slamDunk-photo{
        display: block;
        margin: 0 auto;
        text-align: center;
        border: 2px solid black;
        width: 60%;
    }
    
    .container{
        display: block;
    }
    
    .highlights{
        margin-top: 10%;
    }
}
